@import url(https://db.onlinewebfonts.com/c/fdebcd0c20c9955d76511b720d9932bb?family=MaryTodd+W00+Black);

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    height:4704;
    
}

body{
    background-color:#fff;
    transform: translateX(2.3rem);
    overflow-x: hidden;
    max-width: 100%;
    min-height: 100vh;


}
:root{
    /***********color***************/
    --black:#010101;
    --light-black:#343434;
    --black2:#1A1A1A;
    --black3:#262626;
    --gray:#7E7E7E;
    --gray2:#676767;
    --gray3:#26262699;
    --gray4:#696868;
    --green:#5B7E37;
    --dark-green:#04594D;
    --light-green:#D7E8E1;
    --beige:#F3F2EA;
    --light-beige:#FAFAFA;
    --white:#FDFDFD;
 }
 
 /*******************nav style***************/
 li{
    list-style: none;

 }
a{
    text-decoration: none;
    font-family: "MaryTodd W00 Black";
    font-size:17px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 20px;
    text-transform: uppercase;
    color:var(--gray);
    width:100%;
    white-space: nowrap;


}
/* General Styling */
.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.list li {
    position: relative;
}

.list a {
    text-decoration: none;
    color: #333;
    display: block;
}

.list li:hover > a {
    background-color: #eee;
    color: var(--green);
}

/* Dropdown Menu Styling */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu a {
    padding: 8px 12px;
    color: #333;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
    color: var(--dark-green);
}

/* Show Dropdown on Hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

.logo img{
    width:9%;
    height:5%;
    position:absolute;
    top:36px;
    left:53px;
}
.list{
    display:flex;
    align-items: center;
    gap:30px;
    position:absolute;
    top:125px;
    left:211px;
    width:100%;
    height:24px;
}
.active{
    color:var(--black);

}
.language{
    font-family: "Metropolis";
    width:21px;
    height:20px;
    position:absolute;
    top:71px;
    left:1335px;
    font-weight: 600;
    font-size:13px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:var(--light-green);
}
.phone span{
    font-family: "Metropolis";
    font-weight: 600;
    font-size:17px;
    line-height:22px;
    letter-spacing: 1px;
    align-items: center;
    color:var(--black);
    width:148px;
    height:22px;

}

.phone .fa-phone{
    width:19.93px;
    height:19.87px;
    color:var(--green);
    position:relative;
    top:.04px;
    left:1.98px;
}
.phone{
    width:203px;
    height:24px;
    position: absolute;
    top:67px;
    left:869px;
    border-radius: 15px;
    gap:11px;
}
.contact .line{
    width:24px;
    position:absolute;
    top:77px;
    left:1100.5px;
    border: 1px solid #CCCCCC;
    transform: rotate(-90deg);
    display: block;
    height:1px;
}
.social-media{
    position:absolute;
    top:71px;
    left:1150px;
    display:flex;
    gap:11px;
    color:var(--green);

}
.social-media i{
    height:24px;
    width:24px;
}

                /*media query*/
/*****************main**************/

/************right main ***********/

.main {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 30px;
    width:100%;
}
.green-rectangle{
    width:100%;
    height:306px;
    position:absolute;
    top:169px;
    left:21px;
    background-color:var(--light-green);
}
.beige-rectangle{
    width:100%;
    height:318px;
    position:relative;
    top:475px;
    left:21px;
    background-color:var(--beige);
}
.white-rectangle{
    width:84%;
    height:500px;
    position:absolute;
    top:210px;
    left:100px;
    background-color:var(--white);
}
.white-rectangle .right .topContainer{
    width:100%;
    height:265px;
    position:absolute;
    top:0px;
    left:650px;
}
.white-rectangle .right .top{
    width:58%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    padding:50px 50px 50px 50px ;
    background-color: var(--light-green);;
}
.white-rectangle .right .top p{
    font-family: Georgia;
    color:var(--black2);
    text-align: left;
    width:30%;
    height:224px;
    position:relative;
    top:-17px;
    left:-20px;
    font-weight: 400;
    line-height: 100%;
    font-size: 14.5px;
}
.tentsPhoto{
    position: relative;
    left:190px;
    top:-250px;
    width:50%;
}
.tentsPhoto img{
    width:100%;
    height:220px;
    z-index: 1;
}
.tentsPhoto h3{
    font-family: Georgia;
    color:var(--white);
    width:296px;
    height:46px;
    position: absolute;
    left:10px;
    top:160px;
    font-weight: 700;
    font-size:20px;
    z-index:2;
}
 .right .bottom{
    position:absolute;
    left:-170px;
    top:-60px;
    gap:25px;
}
.white-rectangle .right .bottom h3{
    font-family: Georgia;
    color:var(--black2);
    text-align: left;
    width:344px;
    height:46px;
    font-weight: 700;
    line-height: 100%;
    font-size: 20px;
    color:var(--black);
    margin-bottom:10px;
}
.right .bottom-details span{
    font-family: Helvetica;
    text-align: left;
    width:55px;
    height:10px;
    font-weight: 400;
    line-height: 100%;
    font-size: 10px;
    color:var(--gray2);

}
.right .bottom-details p{
    font-family: Georgia;
    text-align: left;
    width:344px;
    height:54px;
    font-weight: 400;
    line-height: 100%;
    font-size: 16px;
    color:var(--dark-green);
    margin-top:20px;
}
.white-rectangle .right .bottom img{
    width:172px;
    height:185px;
    position:absolute;
    top:350px;
    left:170px;
    color:var(--black2);
    opacity:90%; /* this is better */
}
 .right .bottom-details{
    width:50%;
    position:absolute;
    left:350px;
    top:360px;
    margin-left:30px;

}
/*************left main****************/
.slideshow {
    position: absolute;
    width: 51%;
    height: 365px; 
    margin: auto;
    overflow: hidden;
    padding-left:35px;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: slideAnimation 9s infinite;
}

.slide .text h3{
    color:var(--white);
    position:absolute;
    top:260px;
    font-family: Georgia;
    font-weight: 700;
    font-size:24px;
    line-height: 100%;
    left:21px;

}
.slide .text span{
    font-family: 'Helvetica';
    font-weight: 400;
    font-size:10px;
    line-height:100%;
    color:var(--white);
    position:absolute;
    top:300px;
    left:21px;

}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure image fills the container */
    display: block;
    position:relative;
}

@keyframes slideAnimation {
    0% { opacity: 0; }
    10% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }
}

.slide:nth-child(1) { animation-delay: 0s; }
.slide:nth-child(2) { animation-delay: 3s; }
.slide:nth-child(3) { animation-delay: 6s; }

.dots {
    text-align: center;
    margin-top: 10px;
    position:relative;
    top:30px;
    left:220px;
    z-index: 2;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 5px;
    background-color: gray;
    display: inline-block;
    border-radius: 50%;
    opacity: 0.5;
}

.dot.active {
    background-color: black;
    opacity: 1;
}

.left .details-bottom{
    width:100%;
    height:30%;
    position:absolute;
    top:50%;
    left:10%;
    padding:25px 0 25px 0;
    gap:25px;
}
.left .bottom{
    width:50%;
    display:flex;
    gap:5%;
    position:relative;
    top:400px;
    left:126px;
}
.left .bottom img{
    width:17%;
    height:auto;
    position:absolute;
    left:390px;
    top:-10px;
}
.left .bottom .details-bottom{
    width:100%;
    height:60px;
    position: relative;
    left:-90px;
    top:-2px;
    z-index:2;
}
.left .details-bottom h3{
    font-family: Georgia;
    width:100%;
    height:17px;
    color:var(--black);
    font-weight: 700;
    font-size:15px;
    position:absolute;
    top:0px;
    left:0px;
}
.left .details-bottom p{
    font-family: Georgia;
    width:70%;
    height:22px;
    color:var(--dark-green);
    font-weight: 400;
    font-size:10px;

}

/**************** the agri section *************/
.theArgitictural{
    display:flex;
    width:100%;
    height:610px;
    position:absolute;
    top:830px;
    left:21px;
}
.theArgitictural img{
    width:60%;
    height:610px;
}
.agricultural-details{
    width:100%;
    height:610px;
    position:absolute;
    left:756.99px;
    background-color:var(--light-green);
}
.content{
    width:550px;
    height:440px;
    position: relative;
    top:70px;
    left:79px;
    padding:44px;
    background-color:var(--light-green);
}
.content h2{
    font-weight: 700;
    font-size:32px;
    line-height: 38px;
    letter-spacing: 0;
    color:var(--light-black);
    font-family: Georgia;
    
}
.content p{
    font-weight: 400;
    font-size:16px;
    line-height:29px;
    letter-spacing: 0;
    color:var(--gray);
    font-family: Georgia;
    margin-top:10px;
}
.btn-section{
    display:flex;
    gap:7.25px;
    width:137.75px;
    height:29px;
    background-color: transparent;
    font-family: "Metropolis";
    margin-top:44px;
}
.main-btn{
    font-weight: 500;
    font-size:19.33px;
    line-height: 26.56px;
    letter-spacing: 0;
    border:none;
    color:var(--green);
    background-color: transparent;
}
.btn-section i{
    width:14.49px;
    height:14.51px;
    position:relative;
    top:7.24px;
    left:7.25px;
    color:var(--green);
}
/*************activities*************/
.activities{
    width:100%;
    height:727.68px;
    position:absolute;
    top:1400px;
    left:21px;
    color:var(--white);
    display:flex;
    align-items: center;    
    padding:24px;
    margin-top:10px;
}
.right-section{
    background-image: url(Assets/images/sportsman-drinking-water-training-stationary-bike\ 1.png);
    width:50%;
    height:650px;
    position:absolute;
    top:70px;
    left:760px;
    /*filter: blur(4px);  ## it is not working */
    opacity:90%;
}
.right-section span{
    font-family: 'DM Sans';
    color:var(--white);
    width:306.34px;
    height:14.73px;
    position:absolute;
    bottom:150px;
    left:20px;
    font-weight: 400;
    line-height: 101%;
    font-size: 18px;
}
.right-section p{
    font-family: Georgia;
    color:var(--white);
    width:572.4px;
    height:119.54px;
    position:absolute;
    bottom:20px;
    left:20px;
    font-weight: 700;
    line-height: 100%;
    font-size: 30px;
}
.left-section h2{
    font-family: Georgia;
    color:var(--black3);
    width:50%;
    height:45px;
    position:absolute;
    left:0px;
    font-weight: 700;
    line-height: 38px;
    font-size: 28px;
    
}
.activity{
    width:596.24px;
    height:179.23px;
    position:relative;
    left:-40px;
    margin-top:24px;
}
.activity img{
    width:50%;
    height:100%;
    position:relative;
    top:40px;
    left:21px;
}
.activity span{
    font-family: 'DM Sans';
    color:var(--gray3);
    opacity:60%;
    width:133.83px;
    height:11.95px;
    position:absolute;
    left:324.5px;
    top:50px;
    font-weight: 500;
    line-height: 101%;
    font-size: 10px;
}
.activity h3{
    width:292.74px;
    height:59.74;
    position: absolute;
    top:66px;
    left:324.5px;
    font-family: Georgia;
    font-weight: 700;
    font-size:18px;
    line-height: 137%;
    color:var(--black3);
}
.activity p{
    width:285.57;
    height:53.77px;
    position: absolute;
    top:140px;
    left:324.5px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size:12px;
    line-height: 124%;
    color:var(--gray4);
}

/*************Project-feature***************/
.Project-feature{
    width:100%;
    height:640px;
    position:relative;
    top:2239px;
    left:10px;
}
.Project-feature h2{
    width:587px;
    height:91px;
    position: absolute;
    top:-350px;
    left:500px;
    font-family: Georgia;
    font-weight: 800;
    font-size:32px;
    line-height: 100%;
    color:var(--black);
    align-items: center;
}
.features{
    width:100%;
    height:514px;
    top:-350px;
    left:500px;
    display:flex;
    gap:33px;
    margin-top:53px;
}
.feature{
    margin-top:-23rem;
}
.feature img{
    width:100%;
    height:40%;
    border-radius:24px;
}
.feature-details {
    width:320px;
    height:94px;
    margin-top:12px;
}
.feature-details h4{
    height:36px;
    font-family: 'Manrope', sans-serif;
    font-weight:800;
    font-size:30px;
    line-height:36px;
    margin-bottom:12px;
}
.feature-details p{
    width:320px;
    height:46px;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size:18px;
    line-height:26px;
    margin-top:12px;
}
.Project-feature .arrows{
    width:120px;
    height:50px;
    position:relative;
    left:1310px;
    top:-390px;
}
.arrows i{
    width:50px;
    height:50px;
    opacity:40%;
    border-radius:50%;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:100px;
    left:100px;
    font-size:20px;
}
.arrows .fa-arrow-left{
    color:rgb(228, 228, 228);
    background-color:var(--gray);
    position: absolute;
    top:2rem;
    left:-50px;
    padding:17px;

}
.arrows .fa-arrow-right{
    color:var(--white);
    background-color:#D7B04B;
    position: absolute;
    top:2rem;
    left:50px;
    padding:17px;
}
/************media section ****************/
.media{
   width:100%;
   height:656.78px;
   position:relative;
   top:1900px;
   left:60px;
}

.header h2{
   width:279.48px;
   height:40px;
   margin-left:.43px;
   color:var(--white);
   background-color: var(--green);
   font-size:20px;
   line-height:24px;
   font-family: Georgia;
   align-items: center;
   font-weight: 700;
   border-radius: 5px;
   transform: skew(-10deg);
   display:flex;
   align-items: center;
   justify-content: start;
   padding-left:20px;
}

.header .line {
    width: 888.66px;
    border: 1px solid var(--gray);
    padding: 3px 0;
    margin: -25px 0 0 270px;
    font-weight: normal; 
}

.header .btn{
    width:121.02px;
    height:36px;
    position:absolute;
    top:0px;
    left:1165px;
    border-radius: 4px;
    border:none;
    color:var(--black);
    background-color: var(--light-green);
    font-family: Inter;
    font-weight: 500;
    font-size:14px;
    align-items: center;
    text-transform: uppercase;
    cursor:pointer;
}
 /*****media left**********/

.media-content{
    display:flex;
    align-items: center;
    gap:20px;
    margin-top:-50px;
}

.media-content .left{
    width:630px;
    height:546.78px;
    position:relative;
    top:80px;
    left:-5px;
}

.video iframe{
    width:100%;
    height:380px;
    background-color: var(--black);
    border-radius: 10px;
    position:relative;
}

.left .video-details h3{
    margin-top:63px;
    position:absolute;
    left:0;
    top:380px;
    font-size:28px;
    font-weight: 700;
    line-height:36.4px;
    color:var(--black);
}

.left .video-details span{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size:13px;
    line-height:100%;
    letter-spacing: 0.52px;
    color:var(--black);
    text-transform: uppercase;
    position:absolute;
    left:0;
    top:500px;
    margin-top:25px;
}
 /**********line************/
 .lineOfMedia{
    height:539.98px;
    border:1px solid var(--black);
    margin-top:140px;

}
 /*********media right ********/
 .media .right{
    position:absolute;
    top:35px;
    left:700px;
 }
.sub-media {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.sub-media .video {
    margin-bottom: 10px;
}

.sub-media .video-details {
    text-align: center;
}

.media-content .right {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.sub-media .video iframe {
    width: 190px;
    height: 159.64px;
    border-radius: 6px;
    background-color: var(--black);
}

.sub-media .video-details h3 {
    font-family: 'Manrope';
    font-weight: 700;
    font-size:22px;
    margin: 8px 0;
    text-align: left;
    color:var(--black);
}

.sub-media .video-details span {
    font-weight: 600;
    font-size: 12px;
    align-items: left;
    text-transform: uppercase;
    color:var(--black);
    line-height:100%;
    letter-spacing:0.52px;
}

/**********partners section *************/
.partners{
    width:100%;
    height:278px;
    position: relative;
    top:1985px;
    left:0;
    margin-bottom:30px;
}
.partners h2{
    text-align:center;
    margin-bottom:10px;
    font-family: Georgia;
    font-weight: 700;
    font-size:40px;
    line-height:100%;
    margin-bottom:40px;
}
.background-partners-logos{
    width:100%;
    height:198px;
    background-color:var(--light-beige);
    display:flex;
    justify-content: center;
    align-items: center;
}

.partners-logos{
    width:100%;
    height:122px;
    display:flex;
    gap:35px;
    margin-left:7rem;
}

.partners-logos img{
    width:122px;
    height:122px;
    top:100px;
    left:120px;
}


/************applying section************/
.applying{
    background-image: url(Assets/images/2\ 1.png);
    width:100%;
    background-position: center;
    background-size: cover;
    height:420px;
    position: relative;
    top:2000px;
}
.applying h2{
    width:508px;
    height:136px;
    position: absolute;
    top:60px;
    left:100px;
    font-family: 'Metropolis', sans-serif;
    font-weight: 900 !important;
    font-size:55px;
    line-height: 68px;
    color:var(--black);
    align-items: center;
    font-style: normal;
}
.applying p{
    width:380px;
    height:22px;
    position: absolute;
    top:250px;
    left:100px;
    font-family: 'Metropolis';
    font-weight: 500;
    font-size:16px;
    line-height: 22px;
    color:var(--black);
    align-items: center;
}
.applying button{
    width:157px;
    height:46px;
    position:absolute;
    top:310px;
    left:100px;
    gap:20px;
    color:var(--white);
    background-color:var(--green);
    border:none;
}

/***********footer**********/
.footer{
    position:relative;
    width:100%;
    height:161px;
    top:2000px;
    left:0px;
    background-color: var(--light-green);
}
.footer .line{
    width:1280px;
    border:1px solid #011632;
    position:absolute;
    top:60px;
    left:60px;     
}
.copyright-socialMedia{
    display:Flex;
    align-items: center;
    justify-content: space-between;
    position:absolute;
    top:80px;
    left:60px;
}
.footer .social-media{
    width:240px;
    height:32px;
    display:flex;
    gap:10px;
    position:relative;
    left:644px;
    top:0px;
}
.footer .social-media i{
    width:32px;
    height:32px;
    color:var(--white);
    background-color:var(--green);
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:16px;
    cursor:pointer;

}

/**************media query*************/

@media (max-width: 1200px) {
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
        }
    
    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width:100%;
        height:100%;
        padding-left:3rem;
        transform: translateX(-10px);
    }
    
    
    .logo img {
        width: 100px;
        height: 100px;
        top: 23px;
        left: 10px;
    }

    .list {
       position:absolute;
       left:80px;
       top:150px;
       width:100%;
       flex-wrap: wrap;
    }

    .contact .phone{
        top:40px;
        left:900px;
    }
    .contact .line{
        display:none;
    }

    .social-media{
        position:absolute;
        top:90px;
        left:900px;
    }

    .language{
        top:90px;
        left:1050px;
    }

    /*main*/
    .main{
        width:70%;
    }
    .green-rectangle , .beige-rectangle{
        display:none;
    }
    .white-rectangle .right .topContainer{
        width:50%;
    }
    .white-rectangle{
        width:70%;
        margin-left:-7rem;
        margin-top:1rem;
    }
    .white-rectangle .tentsPhoto img{
        z-index:1; 
    }
    .white-rectangle .right{
        display:flex;
        position:absolute;
        top:40rem;
        left:-620px;
    }
    .slideshow{
        width:100%;
        margin-left:10rem;
    }
    .left .bottom{
        width:100%;
    }
    .left .bottom img{
        width:35%;
        margin-left:22rem;
    }
    
    .left .details-bottom p{
        font-size:20px;
        width:100%;
        margin-top:3rem;
    }
    .left .details-bottom h3{
        font-size:23px;
        width:100%;
    }
    
    .white-rectangle .left{
        margin-top:-3rem;
        margin-right:10rem;
    }
    .white-rectangle .right .topContainer{
        width:70%;
    }
    .white-rectangle .right .top{
        background-color:transparent;
        margin-top:-2rem;
        
    }
    .white-rectangle .right .top h3{
        margin-left:27rem;
    }
    .white-rectangle .right .top img{
        z-index:2;
        width:400px;
        margin-left:27rem;

    }
    .white-rectangle .right .top p{
        width:600px;
        font-size:25px;
        margin-left:-15px;
        margin-top:-7rem;
    }
    .white-rectangle .right .bottom{
        margin-top:-10rem;
        margin-left:1rem;
    }
    .white-rectangle .right .bottom .bottom-details h3{
        font-size:30px;
        width:800px;
        margin-bottom:2rem;
    }
    .white-rectangle .right .bottom  img{
        width:200px;
        height: 200px;
        margin-top:1rem;
    }

    .white-rectangle .right .bottom .bottom-details p{
        font-size:24px;
        width:820px;
    }
    .white-rectangle .right .bottom .bottom-details span{
        font-weight: 700;
        font-size:19px;
        width:200px;
    }

    /*******theArgitictural*/
    .theArgitictural{
        margin-top:27rem;
        display:block;
        max-width:1200px;

    }

    .theArgitictural img{
        width:93%;
        height:100%;
        
    }

    .agricultural-details{
        width:93%;
        display:flex;
        position:absolute;
        top:41rem;
        left:-.1rem;
    } 

    .agricultural-details .content{
        margin-left:-2rem;
    }
    .agricultural-details h2{
        font-size:44px;
        margin-bottom:3rem;
        width:800px;
    }
    .agricultural-details p{
        width:700px;
        font-size:22px;
    }

    /*****activities*/
    .activities{
        margin-top:70rem;
        margin-bottom:100rem;
    }

    .activities .right-section{
        display:flex;
        position:absolute;
        top:47rem;
        left:0px;
    }

    .left-section {
        width:100%;
    }
    .left-section h2{
        font-size:40px;
    }
    .left-section .activity span{
        margin-top:-.5rem;
    }
    .left-section .activity h3{
        font-size:30px;
        width:130%;
        margin:-1rem 0;
    }
    .left-section .activity p{
        font-size:25px;
        width:100%;
    }
    .right-section{
        width:95%;
        height:100%;
        background-position: center;
        background-repeat: none;
        background-size: cover;
    }
    .right-section span{
        font-size:20px;
        margin-bottom:60px;
    }
    .right-section p{
        font-size:30px;
        margin-bottom:40px;
        line-height:40px;
    }


    /*****Project-feature*/
    .Project-feature{
        top:2400px;
        margin-left:1rem;
    }
    .Project-feature h2{
       margin-left:-30rem;
       font-size:37px;
       width:800px;
    }
    .arrows{
        margin-left:-25rem;
    }
    .Project-feature{
        margin-top:125rem;
    }

    .Project-feature .feature{
        width:28%;
        height:150%;
    }
    .feature-details h4{
        font-size:23px;
    }

    .feature-details p{
        font-size:18px;
        width:300px;
    }

    .Project-feature h2{
        text-align: left;
        align-items: start;
    }

    /*.feature1{
        position:absolute;
        top:570px;
        left:0;
    }*/
    .feature2{
        position:absolute;
        top:570px;
        left:200px;
        margin-left:10rem;
    }
    /*******media*/
    .media{
        margin-top:40rem;
        margin-left:-3rem;
    }
    .media .line{
        display:none;
    }
    .media .header .btn{
        position:absolute;
        left:56rem;

    }
    .media-content .video iframe{
         margin-left:15rem;
    }
    .media-content h3{
        margin-left:15rem;
        width:100%;
    }
    .media-content span{
        margin-left:15rem;
        width:100%;
    }
    .media .right{
        position:absolute;
        top:640px;
        left:150px;        
    }
    .media .right iframe{
        width:100%;
        height:100%;
    }
    .media .right h3{
        font-size:40px;
        width:100%;

    }
    .media .right span{
        font-size:22px;
        margin:1rem 0 0 -18rem;
    }
    .video iframe{
        width:100%;
    }
    .media-content .video-details h3{
        font-size:50px;
        margin-top:1.5rem;
        line-height:50px;
    }

    /******partners*/
    .partners{
        margin-top:35rem;
    }
    .partners h2{
        margin-left:-70px;
        font-size:60px;
    }
    .background-partners-logos{
         max-width:100vw;
         height:10%;
         margin-top:-1rem;
         width:100%;
         display: flex;
         flex-wrap: wrap;
         margin-left:-1rem;
         align-items: center;
         justify-content: center;
    }
    .partners-logos{
        flex-wrap: wrap;
    }

    /*****applying*/
    .applying{
        margin-top:12rem;
        width: 140%;
        margin-left:-6rem;
    }

    /*******footer*/
    .footer{
        width:140%;
        margin-left:-6rem;
    }
    .footer .container{
        width:40%;
    }
    .footer .line{
        width:85%;

    }
    .footer .social-media{
        position:absolute;
        left:760px;
    }
    .copyright-socialMedia p{
        width:500px;
    }

}

@media (max-width: 992px) {
    *{
        margin:0;
        padding:0;
        overflow-y:none;
    }
    body{
        transform: translateX(-10px);
    }

    .logo img {
        width: 100px;
        height: 100px;
        top: 40px;
        left: 10px;
    }

    .list {
       position:absolute;
       left:20px;
       top:170px;
       width:90%;
       flex-wrap: wrap;
    }

    .contact .phone{
        top:40px;
        left:700px;
    }
    .contact .line{
        display:none;
    }

    .social-media{
        position:absolute;
        top:90px;
        left:700px;
    }

    .language{
        top:90px;
        left:840px;
    }

    /*main*/
    .main{
        width:70%;
    }
    .green-rectangle , .beige-rectangle{
        display:none;
    }
    .white-rectangle .right .topContainer{
        width:50%;
    }
    .white-rectangle{
        width:80%;
        margin-left:-12rem;
        margin-top:5rem;
    }
    .white-rectangle .tentsPhoto img{
        z-index:1;
    }
    .white-rectangle .right{
        display:flex;
        position:absolute;
        top:40rem;
        left:-620px;
    }
    .slideshow{
        width:100%;
    }
    .left .bottom{
        width:100%;
    }
    .left .bottom img{
        width:40%;
        margin-left:15rem;
    }
    

    .left .details-bottom p{
        font-size:18px;
        width:50%;
        margin-top:3rem;
    }
    .left .details-bottom h3{
        font-size:23px;
        width:80%;
    }
    
    .white-rectangle .left{
        margin-top:-3rem;
        margin-right:10rem;
    }
    .white-rectangle .right .topContainer{
        width:70%;
    }
    .white-rectangle .right .bottom img {
        width: 172px;
        height: 185px;
        position: absolute;
        top: 350px;
        left: 170px;
        color: var(--black2);
        opacity: 0.9; /* Corrected opacity value */
        z-index: 2; /* Increased z-index to make sure it appears on top */
    }
    
    .white-rectangle .right .top p{
        width:500px;
        font-size:25px;
        margin-left:-15px;
        margin-top:-7rem;
    }
    .white-rectangle .right .top img{
        margin-left:320px;
    }
    .white-rectangle .right .bottom{
        margin-top:-8rem;
        margin-left:5rem;
    }
    .white-rectangle .right .bottom .bottom-details h3{
        font-size:25px;
        width:670px;
    }
    .white-rectangle .right .bottom .bottom-details p{
        font-size:17px;
        width:600px;
    }

    /*******theArgitictural*/
    .theArgitictural{
        margin-top:35rem;
    }

    .theArgitictural img{
        width:92%;
        height:100%;
    }

    .agricultural-details{
        width:92%;
        display:flex;
        position:absolute;
        top:41rem;
        left:-.1rem;
    } 
    .agricultural-details .content{
        margin-left:-2rem;
    }
    .agricultural-details h2{
        font-size:35px;
        margin-bottom:3rem;
        width:800px;
    }
    .agricultural-details p{
        width:650px;
        font-size:20px;
    }

    /*****activities*/
    .activities{
        margin-top:78rem;
        margin-bottom:100rem;
    }

    .activities .right-section{
        display:flex;
        position:absolute;
        top:47rem;
        left:0px;
    }

    .left-section {
        width:100%;
    }
    .left-section h2{
        font-size:40px;
    }
    .left-section .activity h3{
        font-size:25px;
        width:90%;
        margin:-1rem 0;
    }
    .left-section .activity p{
        font-size:20px;
        width:90%;
    }
    .right-section{
        width:92%;
        height:100%;
        background-position: center;
        background-repeat: none;
        background-size: cover;
    }
    .right-section span{
        font-size:20px;
        margin-bottom:60px;
    }
    .right-section p{
        font-size:30px;
        margin-bottom:40px;
        line-height:40px;
    }


    /*****Project-feature*/
    .Project-feature{
        top:2530px;
        margin-left:1rem;
    }
    .Project-feature h2{
       margin-left:-35rem;
       font-size:33px;
       width:100%;
    }
    .Project-feature .features{
        margin-left:2rem;
    }
    .arrows{
        margin-left:-38rem;
    }
    .Project-feature{
        margin-top:125rem;
    }

    .Project-feature .feature{
        width:35%;
        height:150%;
    }
    .feature-details h4{
        font-size:23px;
    }

    .feature-details p{
        font-size:18px;
        width:300px;
    }

    .Project-feature h2{
        text-align: left;
        align-items: start;
    }

    .feature1{
        position:absolute;
        top:570px;
        left:30px;
    }
    .feature2{
        position:absolute;
        top:570px;
        left:210px;
        margin-left:10rem;
    }
    /*******media*/
    .media{
        margin-top:45rem;
        margin-left:-3rem;
    }
    .media .line{
        display:none;
    }
    .media .header .btn{
        position:absolute;
        left:38rem;

    }
    .media .right{
        position:absolute;
        top:640px;
        left:0px;
    }
    .media .right iframe{
        width:90%;
        height:100%;
    }
    .media .right h3{
        font-size:40px;
        width:95%;

    }
    .media .left{
        margin-left:-11rem;
    }
    .media .right span{
        font-size:22px;
        margin:1rem 0 0 -18rem;
    }
    .video iframe{
        width:100%;
    }
    .media-content .video-details h3{
        font-size:50px;
        margin-top:1.5rem;
        line-height:50px;
    }
    .media .sub-media{
        margin-left:70px;
    }

    /******partners*/
    .partners{
        margin-top:32rem;
        margin-left:130px;
    }
    .partners h2{
        margin-left:-300px;
        font-size:60px;
    }
    .background-partners-logos{
         max-width:85vw;
         height:10%;
         margin-top:1rem;
         width:100%;
         display: flex;
         flex-wrap: wrap;
         margin-left:-7rem;
         align-items: center;
         justify-content: center;
    }
    .partners-logos{
        flex-wrap: wrap;
    }

    /*****applying*/
    .applying{
        margin-top:12rem;
        width:150%;
        margin-left:-6rem;
    }

    /*******footer*/
    .footer{
        width:150%;
        margin-left:-6rem;
    }
    .footer .container{
        width:100%;
    }
    .footer .line{
        width:85%;

    }
    .footer .social-media{
        position:absolute;
        left:550px;
    }
    .copyright-socialMedia p{
        width:400px;
    }
}

@media (max-width: 768px) {
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
        }
    
    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width:100%;
        height:100%;
        padding-left:3rem;
        transform: translateX(-10px);
    }
    
    
    .logo img {
        width: 100px;
        height: 100px;
        top: 23px;
        left: 10px;
    }

    .list {
       position:absolute;
       left:10px;
       top:150px;
       width:100%;
       flex-wrap: wrap;
    }

    .contact .phone{
        top:40px;
        left:500px;
    }
    .contact .line{
        display:none;
    }

    .social-media{
        position:absolute;
        top:90px;
        left:500px;
    }

    .language{
        top:90px;
        left:650px;
    }

    /*main*/
    .main{
        width:70%;
    }
    .green-rectangle , .beige-rectangle{
        display:none;
    }
    .white-rectangle .right .topContainer{
        width:50%;
    }
    .white-rectangle{
        width:70%;
        margin-left:-7rem;
        margin-top:5rem;
    }
    .white-rectangle .tentsPhoto img{
        z-index:1;
        
    }
    .white-rectangle .right{
        display:flex;
        position:absolute;
        top:40rem;
        left:-620px;
    }
    .slideshow{
        width:100%;
        margin-left:5rem;
    }
    .left .bottom{
        width:100%;
    }
    .left .bottom img{
        width:55%;
        margin-left:0rem;
    }
    
    .left .details-bottom p{
        font-size:20px;
        width:100%;
        margin-top:3rem;
    }
    .left .details-bottom h3{
        font-size:23px;
        width:100%;
    }
    
    .white-rectangle .left{
        margin-top:-3rem;
        margin-right:10rem;
    }
    .white-rectangle .right .topContainer{
        width:70%;
    }
    .white-rectangle .right .top{
        background-color:transparent;
        margin-top:-2rem;
        
    }
    .white-rectangle .right .top h3{
        margin-left:10rem;
    }
    .white-rectangle .right .top img{
        z-index:2;
        width:300px;
        margin-left:9rem;

    }
    .white-rectangle .right .top p{
        width:350px;
        font-size:25px;
        margin-left:-15px;
        margin-top:-7rem;
    }
    .white-rectangle .right .bottom{
        margin-top:-3.5rem;
        margin-left:1rem;
    }
    .white-rectangle .right .bottom .bottom-details h3{
        font-size:30px;
        width:450px;
        margin-top:1rem;
    }
    .white-rectangle .right .bottom  img{
        width:200px;
        height: 200px;
        margin-top:2.4rem;
    }

    .white-rectangle .right .bottom .bottom-details p{
        font-size:24px;
        width:450px;
        margin-top:5rem;
    }
    .white-rectangle .right .bottom .bottom-details span{
       display:none;
    }

    /*******theArgitictural*/
    .theArgitictural{
        margin-top:40rem;
        display:block;
        max-width:1200px;

    }

    .theArgitictural img{
        width:100%;
        height:100%;
        
    }

    .agricultural-details{
        width:100%;
        display:flex;
        position:absolute;
        top:41rem;
        left:-.1rem;
    } 

    .agricultural-details .content{
        margin-left:-2rem;
        margin-top:-3.4rem;
    }
    .agricultural-details h2{
        font-size:44px;
        margin-bottom:3rem;
        width:800px;
    }
    .agricultural-details p{
        width:500px;
        font-size:22px;
    }

    /*****activities*/
    .activities{
        margin-top:82rem;
        margin-bottom:100rem;
    }

    .activities .right-section{
        display:flex;
        position:absolute;
        top:47rem;
        left:0px;
    }

    .left-section {
        width:100%;
    }
    .left-section h2{
        font-size:40px;
    }
    .left-section .activity span{
        margin-top:-.5rem;
    }
    .left-section .activity h3{
        font-size:25px;
        width:70%;
        margin:-1rem 0;
    }
    .left-section .activity p{
        font-size:20px;
        width:70%;
    }
    .right-section{
        width:95%;
        height:100%;
        background-position: center;
        background-repeat: none;
        background-size: cover;
    }
    .right-section span{
        font-size:20px;
        margin-bottom:60px;
    }
    .right-section p{
        font-size:30px;
        margin-bottom:40px;
        line-height:40px;
    }


    /*****Project-feature*/
    .Project-feature{
        top:2600px;
        margin-left:-4rem;
    }
    .Project-feature h2{
       margin-left:-30rem;
       font-size:32px;
       width:800px;
    }
    .arrows{
        margin-left:-44rem;
    }
    .Project-feature{
        margin-top:125rem;
    }

    .Project-feature .feature{
        width:40%;
        height:150%;
    }
    .Project-feature .features{
        margin-left:5rem;
    }
    .feature-details h4{
        font-size:23px;
    }

    .feature-details p{
        font-size:18px;
        width:300px;
    }

    .Project-feature h2{
        text-align: left;
        align-items: start;
    }

    .feature1{
        position:absolute;
        top:570px;
        left:72px;
    }
    .feature2{
        position:absolute;
        top:570px;
        left:210px;
        margin-left:10rem;
    }
    /*******media*/
    .media{
        margin-top:50rem;
        margin-left:-3rem;
    }
    .media .line{
        display:none;
    }
    .media .header{
        margin-left:-4rem;
    }
    .media .header .btn{
        position:absolute;
        left:32rem;

    }
    .media-content{
        margin-left:-6rem;
    }
    .media-content .video iframe{
         margin-left:15rem;
    }
    .media-content h3{
        margin-left:15rem;
        width:100%;
    }
    .media-content span{
        margin-left:15rem;
        width:100%;
    }
    .media .right{
        position:absolute;
        top:640px;
        left:-100px;        
    }
    .media .right iframe{
        width:100%;
        height:100%;
    }
    .media .right h3{
        font-size:40px;
        width:100%;

    }
    .media .right span{
        font-size:22px;
        margin:1rem 0 0 -18rem;
    }
    .video iframe{
        width:100%;
    }
    .media-content .video-details h3{
        font-size:50px;
        margin-top:1.5rem;
        line-height:50px;
    }

    /******partners*/
    .partners{
        margin-top:35rem;
        margin-left:6rem;
    }
    .partners h2{
        margin-left:-300px;
        font-size:50px;
    }
    .background-partners-logos{
         max-width:100vw;
         height:10%;
         margin-top:-1rem;
         width:100%;
         display: flex;
         flex-wrap: wrap;
         margin-left:-9rem;
         align-items: center;
         justify-content: center;
    }
    .partners-logos{
        flex-wrap: wrap;
    }

    /*****applying*/
    .applying{
        margin-top:15rem;
        width:110%;
        margin-left:-3rem;

    }

    /*******footer*/
    .footer{
        width:110%;
        margin-left:-3rem;
    }
    .footer .container{
        width:40%;
    }
    .footer .line{
        width:85%;

    }
    .footer .social-media{
        position:absolute;
        left:420px;
    }
    .copyright-socialMedia p{
        width:300px;
    }

}

@media (max-width: 480px) {
    *{
        margin:0;
        padding:0;
        overflow-y:none;
        box-sizing: border-box;
    }

    .logo img {
        width: 60px;
        height: 60px;
        top: 30px;
        left: 10px;
    }

    body{
        transform: translateX(-30px);
    }

    .list {
       position:absolute;
       left:20px;
       top:120px;
       width:100%;
       flex-wrap: wrap;
    }

    .contact .phone{
        top:40px;
        left:250px;
    }
    .contact .line{
        display:none;
    }

    .social-media{
        position:absolute;
        top:70px;
        left:250px;
    }

    .language{
        top:70px;
        left:400px;
    }

    /*main*/
    .main{
        width:70%;
    }
    .green-rectangle , .beige-rectangle{
        display:none;
    }
    .white-rectangle .right .topContainer{
        width:50%;
    }
    .white-rectangle{
        width:100%;
        margin-left:-7rem;
        margin-top:4rem;
    }
    .white-rectangle .tentsPhoto img{
        margin-left:50px;
        z-index:1;
    }
    .white-rectangle .right{
        display:flex;
        position:absolute;
        top:40rem;
        left:-620px;
    }
    .slideshow{
        width:110%;
        margin-left:-1rem;
    }
    .left .bottom{
        width:100%;
    }
    .left .bottom img{
        width:50%;
        margin-left:-15rem;
        margin-top:3rem;
    }
    

    .left .details-bottom p{
        font-size:15px;
        width:80%;
        margin-top:3rem;
    }
    .left .details-bottom h3{
        font-size:18px;
        width:80%;
    }
    
    .white-rectangle .left{
        margin-top:-3rem;
        margin-right:10rem;
    }
    .white-rectangle .right .topContainer{
        width:70%;
    }
    .white-rectangle .right .top img{
        margin-left:-1rem;
        margin-top:4rem;
        width:170px;
        height:170px;
    }
    .white-rectangle .right .top h3{
        margin-left:-1rem;
        font-size:15px;
        width:150px;

    }
    .white-rectangle .right .bottom img {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 350px;
        left: 170px;
        color: var(--black2);
        opacity: 0.9; 
        z-index: 2; 
    }
    
    .white-rectangle .right .top p{
        width:200px;
        font-size:20px;
        margin-top:-7rem;
    }
    .white-rectangle .right .bottom{
        margin-top:-1rem;
        margin-left:1rem;
    }
    .white-rectangle .right .bottom .bottom-details{
        margin-left:-4rem;
    }
    .white-rectangle .right .bottom .bottom-details h3{
        font-size:20px;
        width:450px;
        margin-bottom:.5rem;
    }
    
    .white-rectangle .right .bottom .bottom-details p{
        font-size:15px;
        width:400px;
        margin-top:.5rem;
    }

    /*******theArgitictural*/
    .theArgitictural{
        margin-top:39rem;
    }

    .theArgitictural img{
        width:100%;
        height:90%;

    }

    .agricultural-details{
        width:94%;
        display:flex;
        position:absolute;
        top:41rem;
        left:-.1rem;
    } 
    .agricultural-details .content{
        margin-left:-5rem;
        margin-top:-3rem;
    }
    .agricultural-details h2{
        font-size:25px;
        margin-bottom:3rem;
        width:800px;
    }
    .agricultural-details p{
        width:350px;
        font-size:14px;
    }

    /*****activities*/
    .activities{
        margin-top:84rem;
        margin-bottom:100rem;
    }

    .activities .right-section{
        display:flex;
        position:absolute;
        top:47rem;
        left:0px;
    }

    .left-section {
        width:100%;
    }
    .left-section img{
        width:180px;
        height:180px;
    }
    .left-section h2{
        font-size:40px;
        width:100%;
    }
    .left-section .activity h3{
        font-size:17px;
        width:40%;
        margin:-1rem 0;
        margin-left:-6.5rem;

    }
    .left-section .activity p{
        font-size:13px;
        width:30%;
        margin-left:-6.5rem;
    }
    .left-section .activity span{
        margin-left:-6.5rem;
    }
    .right-section{
        width:96%;
        height:100%;
        background-position: center;
        background-repeat: none;
        background-size: cover;
    }
    .right-section span{
        font-size:20px;
        margin-bottom:60px;
    }
    .right-section p{
        font-size:20px;
        margin-bottom:40px;
        line-height:23px;
        width:300px;
    }


    /*****Project-feature*/
    .Project-feature{
        top:2630px;
        margin-left:-5rem;
    }
    .Project-feature h2{
       margin-left:-28rem;
       font-size:25px;
       width:100%;
       height:100%;
    }
    .Project-feature{
        margin-top:125rem;
    }

    .Project-feature .feature{
        width:47%;
        height:90%;
        margin-left:-20px;
    }
    .feature-details h4{
        font-size:20px;
    }

    .feature-details p{
        font-size:15px;
        width:300px;
    }

    .Project-feature h2{
        text-align: left;
        align-items: start;
    }

    .feature1{
        position:absolute;
        top:450px;
        left:70px;
        width:47%;
        height:90%;
    }
    .feature2{
        position:absolute;
        top:450px;
        left:260px;
        margin-left:4rem;
        width:47%;
        height:90%;
    }
    /*******media*/
    .media{
        margin-top:37rem;
        margin-left:-3rem;
    }
    .media .line{
        display:none;
    }
    .media .header h2{
        background: transparent;
        color:var(--black);
        margin-left:0rem;
        font-size:30px;

    }
    .media .header .btn{
        position:absolute;
        left:14rem;

    }
    .media .right{
        position:absolute;
        top:640px;
        margin-left:-12rem;
    }
    .media .right iframe{
        width:90%;
        height:90%;
    }
    .media .right h3{
        font-size:20px;
        width:80%;
        margin-left:0rem;

    }
    .media .right span{
        font-size:10px;
        margin:0rem 0 0 -9rem;
    }
    .video iframe{
        width:100%;
    }
    .media-content {
        margin-left:-6.6rem;
    }
    .media-content iframe{
        width:60%;
    }
    .media .sub-media{
        margin-left:10rem;
    }
    .media-content .video-details h3{
        font-size:30px;
        margin-top:1.5rem;
        width:290px;
        line-height:30px;
    }

    /******partners*/
    .partners{
        margin-top:37rem;
        margin-left:10px;
    }
    .partners h2{
        margin-left:-55px;
        font-size:40px;
    }
    .background-partners-logos{
         height:90%;
         margin-top:-4rem;
         width:300%;
         display: flex;
         flex-wrap: wrap;
         margin-left:-7rem;
         align-items: center;
         justify-content: center;
    }
    .partners-logos{
        flex-wrap: wrap;
    }

    /*****applying*/
    .applying{
        margin-top:32rem;
        width:130%;
        margin-left:-4rem;
    }
    .applying h2{
        font-size:40px;
        width:300px;
        line-height:40px;
    }
    .applying p{
        width:300px;
    }

    /*******footer*/
    .footer{
        width:130%;
        margin-left:-4rem;
    }
    .footer .container{
        width:40%;
    }
    .footer .line{
        width:79%;

    }
    .footer .social-media{
        position:absolute;
        left:220px;
        width:80%;
    }
    .copyright-socialMedia p{
        width:200px;

    }
}
