@import url(https://db.onlinewebfonts.com/c/fdebcd0c20c9955d76511b720d9932bb?family=MaryTodd+W00+Black);

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    height:4704;
}
body{
    background-color:#fff;
}
:root{
    --black:#010101;
    --light-black:#343434;
    --black2:#1A1A1A;
    --gray:#7E7E7E;
    --gray2:#676767;
    --gray3:#26262699;
    --gray4:#696868;
    --green:#5B7E37;
    --dark-green:#04594D;
    --light-green:#D7E8E1;
    --beige:#F3F2EA;
    --light-beige:#FAFAFA;
    --white:#FDFDFD;
}

li{
    list-style: none;

}
a{
    text-decoration: none;
    font-family: "MaryTodd W00 Black";
    font-size:17px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 20px;
    text-transform: uppercase;
    font-size:17px;
    color:var(--gray);
    width:100%;
    white-space: nowrap;
}
.logo img{
    width:113px;
    height:113px;
    position:absolute;
    top:36px;
    left:53px;
}
.list{
    display:flex;
    align-items: center;
    gap:30px;
    position:absolute;
    top:125px;
    left:211px;
    width:911px;
    height:24px;
}
.active{
    color:var(--black);

}
.language{
    font-family: "Metropolis";
    width:21px;
    height:20px;
    position:absolute;
    top:71px;
    left:1335px;
    font-weight: 600;
    font-size:13px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:var(--green);
}
.phone span{
    font-family: "Metropolis";
    font-weight: 600;
    font-size:17px;
    line-height:22px;
    letter-spacing: 1px;
    align-items: center;
    color:var(--black);
    width:148px;
    height:22px;

}

.phone .fa-phone{
    width:19.93px;
    height:19.87px;
    color:var(--green);
    position:relative;
    top:2.04px;
    left:1.98px;
}
.phone{
    width:203px;
    height:24px;
    position: absolute;
    top:67px;
    left:869px;
    border-radius: 15px;
    gap:11px;
}
.contact .line{
    width:24px;
    position:absolute;
    top:77px;
    left:1100.5px;
    border: 1px solid #CCCCCC;
    transform: rotate(-90deg);
    display: block;
    height:1px;
}
.social-media{
    position:absolute;
    top:71px;
    left:1150px;
    display:flex;
    gap:11px;
    color:var(--green);

}
.social-media i{
    height:24px;
    width:24px;
}
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white); 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    min-width: 200px; 
    top: 100%; 
    left: 0;
    border-radius: 5px;
    z-index: 1000; 
}
.dropdown-content li {
    padding: 10px 20px;
    white-space: nowrap; 
}
.dropdown-content li a {
    display: block;
    color: var(--black);
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}
.dropdown-content li a:hover {
    background-color: var(--light-green);
    color: var(--dark-green);
}
.dropdown:hover .dropdown-content {
    display: block;
}




/* ----------------- */
main {
    position: relative;
    top: 250px;
}
.breadcrumb-container {
    margin: 20px 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #3E3232;
}
.arrow {
    margin: 0 10px;
    color: rgba(62, 50, 50, 0.5);
}

.page-name {
    /* position: absolute; */
    left: auto; 
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: rgba(62, 50, 50, 0.5); 
    display: inline-block; 
    vertical-align: middle;
}
main img {
    display: block;
    width: 100%;
    margin-top: 67px;
}

/* ----------------------- */
.container {
    max-width: 1100px; /* Adjust as needed based on column widths and gaps */
    /* margin: 20px auto; */
    margin: 60px auto;
    padding: 20px;
}
.program-title {
    font-size: 2em;
    text-align: left;
    margin-bottom: 20px;
}
.row {
    display: flex;
    gap: 20px; /* Gap between columns */
    margin-bottom: 20px; /* Gap between rows */
    flex-wrap: wrap;
    justify-content: space-between;
}
.column {
    /* width: 270px; */
    width: calc(25% - 15px);
    display: flex;
    flex-direction: column;
    gap: 20px; 
    height: 100%;
}

.box {
    padding: 15px;
    padding-top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-box {
    flex: 1;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.image-box img {
    display: block;
    margin-top: 0;
    margin-left: -15px;
    height: auto;
    width: 100%;
    flex-grow: 1;

}
.box.text-box {
    background-color: #EBEEF3;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}
.text-box .lorem-box {
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
}
.text-box p {
    margin-bottom: 0;
    line-height: 10px;
    font-size: 32px; 
    color: #666; 
}
.text-box p:first-child {
    color: #262626;
    margin-bottom: 20px;
}
.text-box p:last-child {
    color: linear-gradient(to right, #262626, #B8C2CE); 
}






