/* Metropolis Regular */
@font-face {
    font-family: 'Metropolis'; /* You can choose a name, but 'Metropolis' makes sense */
    src: url('font/Metropolis-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/* Metropolis Bold */
@font-face {
    font-family: 'Metropolis';
    src: url('font/Metropolis-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis';
    src: url('font/Metropolis-Black.otf') format('opentype');
    font-weight: 900; 
    font-style: normal;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Metropolis', sans-serif;;
    overflow-x: hidden; 
    height: 200vh;
}

header {
    /* margin-top: 10px; */
    /* padding: 10px 20px; */
    padding-left: 20px;
    padding-right:20px ;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
    margin-right: 35px;
}

.logo-container img {
    height: 113px;
    width: 113px;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info .phone {
    display: flex; 
    align-items: center; 
    margin-right: 5px;
    letter-spacing: 1px;
    position: relative; 
    padding-right: 30px;
    font-weight: 600;
}
.contact-info .phone::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%); 
    height: 20px; 
    border-left: 1px solid #ccc; 
    right: -10px; 
}
.contact-info .phone svg {
    width: 25px;
    height: 25px;
    margin-right: 5px; 
    color: #5B7E37;
}

.social-icons {
    display: flex; 
    /* align-items: center;  */
    margin-right: 60px;
    padding-left: 20px;
}

.social-icons a {
    margin-left: 20px;
}

.social-icons svg {
    width: 25px; 
    height: 25px;
}

.language-select a {
    margin-left: 15px;
    color: #5B7E37;
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
}

.language-select a.active, nav ul li a:hover {
    color: black; 
}
nav {
    /* margin-left: 170px; */
    position: relative;
    left: 130px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #7E7E7E;
    font-weight: bold;
    /* padding: 10px 15px; */
    padding-left: 15px;
    display: block;
    font-size: 16px;
    line-height: 20px;
}
nav ul li a.active {
    color: black;
}

/* Dropdown styles */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 100%; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
    text-align: left;
}


/* ----------------- */
.breadcrumb-container {
    /* position: relative; */
    /* top:1000px; */
    /* left: 30px; */
    /* height: 327px;  */
    margin-top: 100px;
    margin-left: 20px;
}

.home {
    /* position: absolute; */
    /* width: 95px; */
    /* height: 14px; */
    /* left: 53px; */
    color: #3E3232;
    font-size: 14px; 
    line-height: 14px; 
    display: inline-block;
}

.arrow {
    /* position: absolute; */
    /* left: 90px; 
    top: -5px; */
    left: auto;
    top: auto;
    display: inline-block;
    vertical-align: middle;
}
.arrow svg {
    fill: rgba(62, 50, 50, 0.5); /* Set the arrow color */
}
.page-name {
    /* position: absolute; */
    left: auto; 
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: rgba(62, 50, 50, 0.5); 
    display: inline-block; 
    vertical-align: middle;
}
img {
    display: block;
    width: 100%;
    margin-top: 67px;
}



